h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
}

#pokemonContainer {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(30, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 3px;
    }
}

a {
  display: block;
  margin: auto;
}

#stats {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type:none;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

h3 {
  text-align: center;
}